.jumbotron{background-image: url(image/bg1.jpeg); color: #ffff33;background-attachment: fixed;min-height: 400px;margin-top: 60px;margin-bottom: 8px;}
.no-margin{margin: 0px;}
.no-padding{padding: 0px;}
.page-footer{background-color: #222;color: #fff;padding-top: 30px;}
.bottom-footer{border-top:1px solid #b2b2b2; margin-top: 10px; padding-top: 10px;color:#b2b2b2;}
.footer-nav{text-align:right;list-style: none;}
.footer-nav li{display:inline;}
.footer-nav li:not(:first-child):before{content: '|';padding: 0px 10px;}
.footer-nav a{color: #b2b2b2;}
.footer-nav a:hover{color: #fff}
.footer-navbar a{color:#fff}
.footer-navbar a:hover{color:cyan}
.site-footer{background-color: #222;color: #fff;margin-top: 30px;padding-top: 30px;}
body html{margin: 0px; padding: 0px;}
.bg{background: url('image/bg.jpg') no-repeat;width: 100%;height: 100%;}
.bg1{background: url('image/bg.jpg') no-repeat;width: 100%;height:100%;}
.bg2{background: url('image/bg3.jpg') no-repeat;width: 100%;height: 120vh;}
.bg4{background: url('image/bg.jpg') no-repeat;width: 100%;height: 90vh;}
.f1{color:lightslategray}
.BGEdit{background: url('image/bg2.jpg') no-repeat;width: 100%;height: 100%;}
.form-container{border: 0px solid #fff; padding: 50px 60px; margin-top: 10vh;
-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow:  -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow:  -1px 4px 26px 11px rgba(0,0,0,0.75);
}
footer{padding:18px 0; background:#111; color:#fff;}
.marketing{padding:28px 0}
.pageTitle{padding:18px 0; border-top:1px solid #efefef; margin-top:92px; background:#efefef}
.pageTitle h2{padding:0; margin:0}
.bodyInner{padding:28px 0}
.carousel-caption {bottom: 61px;}
.mainTitle {padding: 4px 0;border-top: 1px solid #FF8500;background: #FAFAFA;color: #0C0C0C;text-align: center;box-shadow: 0 0 24px #D5D5D5;}
.cntr{text-align:center}
                  